@font-face {
  font-family: "Roboto-Regular";
  src: url("../fonts/Roboto-Regular.eot?") format("eot"), url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.ttf") format("truetype"), url('../fonts/Roboto-Regular.svg#str-replace("Roboto-Regular", " ", "_")') format("svg"); }

@font-face {
  font-family: "iCielSamsungSharpSans-Bold";
  src: url("../fonts/iCielSamsungSharpSans-Bold.eot?") format("eot"), url("../fonts/iCielSamsungSharpSans-Bold.woff2") format("woff2"), url("../fonts/iCielSamsungSharpSans-Bold.woff") format("woff"), url("../fonts/iCielSamsungSharpSans-Bold.ttf") format("truetype"), url('../fonts/iCielSamsungSharpSans-Bold.svg#str-replace("iCielSamsungSharpSans-Bold", " ", "_")') format("svg"); }

@font-face {
  font-family: "SamsungOne-400";
  src: url("../fonts/SamsungOne-400.eot?") format("eot"), url("../fonts/SamsungOne-400.woff2") format("woff2"), url("../fonts/SamsungOne-400.woff") format("woff"), url("../fonts/SamsungOne-400.ttf") format("truetype"), url('../fonts/SamsungOne-400.svg#str-replace("SamsungOne-400", " ", "_")') format("svg"); }

ul {
  padding: 0;
  margin: 0; }
  ul li {
    list-style: none; }

img {
  max-width: 100%;
  max-height: 100%; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

.module-title {
  font-family: "iCielSamsungSharpSans-Bold";
  font-size: 48px;
  color: #333333; }

.sub-module-title {
  font-family: "iCielSamsungSharpSans-Bold";
  font-size: 24px;
  text-align: center;
  color: #676767; }

.bg-gray {
  background: #e8e8e8; }

.center {
  text-align: center; }

.w80 {
  width: 80%;
  margin: auto; }

.bd-white-right {
  border-right: 1px #ffffff solid; }

.header {
  height: 90px; }
  .header .head-function {
    float: right; }
    .header .head-function li {
      display: inline-block;
      background: #4a73b9; }
      .header .head-function li a {
        display: block;
        height: 90px;
        width: 90px;
        padding: 25px 35px;
        color: #ffffff;
        font-size: 30px; }

.menu {
  text-align: right; }
  .menu .main-menu li {
    display: inline-block;
    position: relative; }
    .menu .main-menu li a {
      font-family: "iCielSamsungSharpSans-Bold";
      color: #676767;
      font-size: 18px;
      display: block;
      padding: 5px 20px;
      border: 1px transparent solid; }
      .menu .main-menu li a:hover {
        border-color: #CCCCCC;
        background: #f7f7f7; }
    .menu .main-menu li ul.sub-menu {
      display: none;
      position: absolute;
      border: 1px #CCCCCC solid;
      width: 250px;
      background: #ffffff;
      top: 35px;
      z-index: 999999; }
      .menu .main-menu li ul.sub-menu li {
        display: block;
        text-align: left; }
        .menu .main-menu li ul.sub-menu li a {
          display: block;
          font-family: Roboto;
          font-size: 16px;
          padding: 10px 0 10px 20px;
          border-color: transparent;
          background: transparent; }
          .menu .main-menu li ul.sub-menu li a:hover {
            color: #4a73b9; }
    .menu .main-menu li:hover ul.sub-menu {
      display: block; }

.hero-slider .slider-1 {
  background: url("../images/slider.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 700px;
  position: relative; }
  .hero-slider .slider-1 .slider-1-text {
    position: absolute;
    left: 20%; }
  .hero-slider .slider-1 .slider-1-image {
    position: absolute;
    right: 20%;
    top: 10%; }

.block .block-detail {
  padding: 50px; }
  .block .block-detail .module-desc {
    font-family: "iCielSamsungSharpSans-Bold";
    font-size: 16px;
    color: #676767;
    line-height: 30px; }
    .block .block-detail .module-desc p {
      margin-bottom: 30px;
      text-align: justify; }

.block-more {
  font-size: 24px;
  font-family: "iCielSamsungSharpSans-Bold";
  border: 2px #4a73b9 solid;
  padding: 10px 20px;
  border-radius: 30px;
  color: #4a73b9; }
  .block-more.white {
    color: #ffffff;
    border: 2px #ffffff solid; }

.nav-tabs > li > a {
  border: 0; }

h1.news-title {
  font-size: 16px;
  font-family: "iCielSamsungSharpSans-Bold";
  color: #676767; }

.pd-bot-zero {
  padding-bottom: 0 !important; }

.family-solution {
  margin-top: 50px;
  border-bottom: 1px #CCCCCC solid; }
  .family-solution li {
    width: 250px;
    margin-right: 50px;
    border: 1px #CCCCCC solid;
    background: #f6f6f6;
    padding: 10px 0;
    float: left;
    border-bottom: 5px transparent solid;
    padding: 15px; }
    .family-solution li:hover {
      border-bottom-color: #4a73b9; }
    .family-solution li.active {
      border-bottom-color: #4a73b9; }
      .family-solution li.active a {
        background: #f6f6f6;
        border: 0;
        color: #4a73b9;
        text-decoration: none; }
        .family-solution li.active a:hover {
          border: 0;
          background: transparent;
          border-color: transparent;
          color: #4a73b9;
          text-decoration: none; }
    .family-solution li a {
      font-size: 16px;
      font-family: "iCielSamsungSharpSans-Bold";
      background: #f6f6f6;
      border-color: transparent;
      color: #939393;
      display: block; }
      .family-solution li a img {
        float: left;
        margin-right: 10px;
        height: 75px; }
      .family-solution li a:hover {
        background: transparent;
        border-color: transparent;
        color: #4a73b9; }

.f-slider-1 {
  background: url("../images/black-gradian-bg.png") left bottom no-repeat, url("../images/image-2.png") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative; }

.f-slider-content {
  position: absolute;
  border-top: 0;
  left: 0;
  right: 0;
  bottom: 5%; }
  .f-slider-content span {
    color: #ffffff;
    font-size: 18px;
    font-family: "iCielSamsungSharpSans-Bold";
    text-transform: uppercase;
    margin: auto; }
  .f-slider-content p {
    color: #ffffff;
    font-size: 18px;
    font-family: "iCielSamsungSharpSans-Bold"; }

.list-products .product-item {
  margin-bottom: 20px;
  text-align: center; }
  .list-products .product-item .thumb {
    background: #f9f9f9;
    text-align: center;
    padding: 20px 0; }
    .list-products .product-item .thumb img {
      max-height: 200px; }
  .list-products .product-item .title {
    padding: 10px 0;
    text-align: center;
    height: 95px; }
    .list-products .product-item .title a {
      font-size: 18px;
      font-family: "iCielSamsungSharpSans-Bold";
      color: #1c2155; }
      .list-products .product-item .title a span {
        text-transform: uppercase; }
  .list-products .product-item .desc {
    padding: 0 20px;
    text-align: center;
    color: #676767; }
  .list-products .product-item h2.woocommerce-loop-product__title {
    padding: 10px 0;
    text-align: center;
    font-size: 18px;
    font-family: "iCielSamsungSharpSans-Bold";
    color: #1c2155;
    text-transform: uppercase;
    line-height: 1.4; }

.list-projects .project-item .title {
  padding: 10px 0;
  height: 70px;
  overflow: hidden; }
  .list-projects .project-item .title a {
    font-size: 18px;
    font-family: "iCielSamsungSharpSans-Bold";
    color: #1c2155; }

.list-projects .project-item .thumb a img {
  width: 100%;
  max-height: 275px; }

.list-news .news-item {
  margin-bottom: 20px; }
  .list-news .news-item .thumb a img {
    width: 350px;
    height: 200px; }
  .list-news .news-item .title {
    padding: 10px 0; }
    .list-news .news-item .title a {
      font-size: 18px;
      font-family: "iCielSamsungSharpSans-Bold";
      color: #676767; }
      .list-news .news-item .title a:hover {
        color: #4a73b9; }
  .list-news .news-item .desc {
    text-align: justify; }

.footer .footer-top {
  background: #4a73b9;
  padding: 50px 0; }
  .footer .footer-top .f-sub-title {
    font-size: 24px;
    font-family: "iCielSamsungSharpSans-Bold";
    color: #fff;
    text-align: center; }
  .footer .footer-top .f-title {
    font-size: 48px;
    font-family: "iCielSamsungSharpSans-Bold";
    color: #fff;
    text-align: center; }
  .footer .footer-top .f-services {
    margin: 20px 0;
    text-align: center; }
    .footer .footer-top .f-services img {
      margin-bottom: 20px; }
    .footer .footer-top .f-services .f-s {
      font-size: 18px;
      font-family: "iCielSamsungSharpSans-Bold";
      color: #fff; }

.footer .footer-bot {
  background: #202a58;
  padding: 20px 0; }
  .footer .footer-bot .f-menu li {
    font-size: 20px;
    font-family: "iCielSamsungSharpSans-Bold";
    color: #fff; }
    .footer .footer-bot .f-menu li:first-child {
      margin-bottom: 10px; }
    .footer .footer-bot .f-menu li a {
      font-family: Roboto;
      font-size: 16px;
      color: #fff; }

.footer .f-social i {
  font-size: 48px;
  color: #ffffff;
  margin-right: 10px; }

.right {
  text-align: right; }

.banner-page-list {
  height: 500px;
  overflow: hidden;
  position: relative;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  display: block; }
  .banner-page-list .title-page {
    position: absolute;
    float: left;
    width: 100%;
    height: 100%;
    max-height: 425px;
    left: 0;
    z-index: 99; }
  .banner-page-list h4 {
    position: absolute;
    bottom: 50px;
    left: 0;
    font-family: Roboto, serif;
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
    width: 100%;
    text-align: center; }
    .banner-page-list h4 span {
      letter-spacing: 1px;
      display: inline-block;
      padding: 18px 85px;
      border: 2px solid rgba(255, 255, 255, 0.72);
      background: rgba(255, 255, 255, 0.18); }
      .banner-page-list h4 span:last-child {
        display: inline-block; }

.onycom-page-header {
  background: url("../images/slider.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 700px;
  position: relative;
  padding: 50px 0; }
  .onycom-page-header .text {
    position: absolute;
    left: 20%;
    top: 150px; }
    .onycom-page-header .text h1 {
      font-size: 40px;
      font-family: "iCielSamsungSharpSans-Bold";
      color: #ffffff;
      margin-bottom: 20px; }
    .onycom-page-header .text .page-desc {
      font-size: 18px;
      font-family: "iCielSamsungSharpSans-Bold";
      color: #ffffff;
      line-height: 2; }

.list-gp-doanhnghiep {
  margin-bottom: 50px; }
  .list-gp-doanhnghiep .item .thumb a img {
    width: 100%; }
  .list-gp-doanhnghiep .item .title {
    background: #4a73b9;
    padding: 5px;
    text-align: center; }
    .list-gp-doanhnghiep .item .title a {
      font-family: "iCielSamsungSharpSans-Bold";
      color: #ffffff;
      font-size: 16px; }

.smarthome-page {
  background: #f7f7f7; }

.woocommerce-breadcrumb {
  background: #EEEEEE;
  padding: 20px 0; }
  .woocommerce-breadcrumb a {
    font-family: Roboto;
    color: #676767; }

.product-info {
  padding: 50px 0; }
  .product-info #imageGallery li {
    text-align: center; }
  .product-info .lSGallery {
    margin-top: 20px !important; }
  .product-info h1 {
    font-family: "iCielSamsungSharpSans-Bold";
    color: #676767;
    font-size: 24px; }
  .product-info .thongso {
    padding-left: 20px; }
    .product-info .thongso li {
      padding: 5px 3px;
      color: #676767;
      list-style: circle;
      font-size: 16px;
      font-family: Roboto; }
  .product-info .price {
    font-family: Roboto;
    color: red;
    font-weight: bold;
    font-size: 30px;
    padding: 10px 0; }
  .product-info .regular-price {
    text-decoration: line-through; }
  .product-info .badge {
    background: red;
    color: #ffffff; }

.product-content-list .product-nav {
  background: #4a73b9; }
  .product-content-list .product-nav .nav-tabs {
    border-bottom: 0; }
  .product-content-list .product-nav .nav-tabs > li > a {
    color: #ffffff;
    font-family: "iCielSamsungSharpSans-Bold";
    font-size: 18px;
    padding: 20px;
    border-bottom: 3px transparent solid; }
  .product-content-list .product-nav .nav-tabs > li.active > a {
    background: transparent;
    color: #ffffff;
    border-color: transparent;
    border-bottom-color: #000000; }
  .product-content-list .product-nav .nav > li > a:focus, .product-content-list .product-nav .nav > li > a:hover {
    background: transparent;
    border-bottom-color: #000000; }

.news-others h3 {
  font-family: "iCielSamsungSharpSans-Bold";
  font-size: 24px; }

.news-list-other .news-item .thumb {
  float: left;
  margin-right: 20px; }

.news-list-other .news-item .info .title {
  margin-bottom: 5px; }
  .news-list-other .news-item .info .title a {
    font-family: "iCielSamsungSharpSans-Bold";
    font-size: 18px;
    color: #676767; }

.news-list-other .news-item .info .desc {
  color: #676767; }

.slidervideo .video-item .video-item-inner {
  position: relative; }
  .slidervideo .video-item .video-item-inner .overlay {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    padding: 130px 280px; }
    .slidervideo .video-item .video-item-inner .overlay a {
      outline: none; }

.slidervideo .slick-arrow {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 34px;
  height: 64px;
  margin: auto; }

.slidervideo .slick-next {
  right: 20px;
  z-index: 2;
  border: 0;
  font-size: 0;
  padding: 10px;
  background: url(../images/next.png) center no-repeat;
  background-size: 18px 38px;
  outline: none; }

.slidervideo .slick-prev {
  left: 20px;
  z-index: 2;
  border: 0;
  font-size: 0;
  padding: 10px;
  background: url(../images/prev.png) center no-repeat;
  background-size: 18px 38px;
  outline: none; }
  .slidervideo .slick-prev.slick-disabled {
    opacity: .1; }

.breadcrumb {
  background-color: transparent;
  padding: 20px 0 0; }
  .breadcrumb ul li {
    display: inline-block; }
    .breadcrumb ul li i {
      margin: 0 10px;
      color: #676767;
      font-size: 14px; }
    .breadcrumb ul li a {
      font-family: Roboto;
      color: #676767;
      font-size: 14px;
      text-transform: uppercase; }

.kks-block {
  height: 400px; }
  .kks-block .kks-block-content {
    padding: 90px 0; }
    .kks-block .kks-block-content h2 {
      font-family: "iCielSamsungSharpSans-Bold";
      font-size: 24px;
      color: #333333;
      margin-bottom: 20px; }
    .kks-block .kks-block-content .desc {
      font-family: Arial; }

.home-slide-duan {
  padding-bottom: 50px; }

.kss-project-item .title a {
  font-family: "iCielSamsungSharpSans-Bold";
  font-size: 24px;
  color: #4a73b9; }

.kss-project-item .desc {
  color: #676767; }

.list-customer-feedback .fb-item {
  border: 5px #4a73b9 solid;
  border-radius: 10px;
  padding: 20px;
  margin: 20px; }
  .list-customer-feedback .fb-item .icon i {
    font-size: 40px;
    color: #4a73b9; }
  .list-customer-feedback .fb-item .user-info {
    margin-top: 20px; }
    .list-customer-feedback .fb-item .user-info .info {
      float: left;
      width: 70%;
      padding-right: 10px; }
      .list-customer-feedback .fb-item .user-info .info .name {
        text-align: right;
        font-weight: bold; }
      .list-customer-feedback .fb-item .user-info .info .sub {
        color: #676767; }
    .list-customer-feedback .fb-item .user-info .avatar {
      float: right;
      width: 30%; }
      .list-customer-feedback .fb-item .user-info .avatar img {
        width: 80px;
        height: 80px;
        border-radius: 50%; }

.list-customer-feedback .slick-center .fb-item {
  margin: 0;
  padding: 50px 20px; }

.list-customer-feedback .slick-arrow {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 34px;
  height: 64px;
  margin: auto; }

.list-customer-feedback .slick-next {
  right: 0;
  z-index: 2;
  border: 0;
  font-size: 0;
  padding: 10px;
  background: url(../images/next.png) center no-repeat;
  background-size: 18px 38px;
  outline: none; }

.list-customer-feedback .slick-prev {
  left: 0;
  z-index: 2;
  border: 0;
  font-size: 0;
  padding: 10px;
  background: url(../images/prev.png) center no-repeat;
  background-size: 18px 38px;
  outline: none; }
  .list-customer-feedback .slick-prev.slick-disabled {
    opacity: .1; }

#sliderPartner li {
  width: 200px; }

.archive-body {
  margin-top: 20px; }
  .archive-body .leftside .title {
    font-family: Roboto;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold; }

.archive-product-list .orderby, .archive-product-list .woocommerce-result-count {
  display: none; }

.archive-product-list .product-item .thumb {
  border: 1px #ccc solid;
  text-align: center;
  padding: 20px; }
  .archive-product-list .product-item .thumb a img {
    max-height: 200px; }

.archive-product-list .product-item .title a {
  padding: 10px 0;
  font-family: Roboto;
  display: block;
  font-size: 16px;
  color: #676767; }

.archive-product-list .product-item .price {
  color: #ff0000;
  font-size: 16px;
  font-family: "iCielSamsungSharpSans-Bold"; }

.archive-product-list .product-item .block-more {
  font-size: 14px; }

.archive-product-list .filter {
  text-align: right;
  margin: 20px 0; }
  .archive-product-list .filter ul li {
    display: inline-block; }
    .archive-product-list .filter ul li a {
      display: block;
      padding: 5px 10px;
      font-family: Arial;
      text-transform: uppercase;
      color: #676767; }
      .archive-product-list .filter ul li a.active {
        border: 1px #CCCCCC solid;
        background: #f6f6f6; }

.woocommerce-cart-form__contents {
  width: 100%; }
  .woocommerce-cart-form__contents tr th {
    border-bottom: 1px #EEEEEE solid;
    padding: 0 20px 20px; }
  .woocommerce-cart-form__contents tr td {
    padding: 5px; }
    .woocommerce-cart-form__contents tr td img {
      height: 100px;
      width: auto; }
    .woocommerce-cart-form__contents tr td.actions {
      padding-top: 50px; }
    .woocommerce-cart-form__contents tr td .screen-reader-text {
      display: none; }
    .woocommerce-cart-form__contents tr td .qty {
      text-align: center;
      width: 80px;
      border: 1px #EEEEEE solid;
      border-radius: 5px;
      padding: 5px; }
    .woocommerce-cart-form__contents tr td .woocommerce-Price-currencySymbol {
      display: none; }
    .woocommerce-cart-form__contents tr td.product-name a {
      font-weight: bold;
      color: #4a73b9; }
    .woocommerce-cart-form__contents tr td.product-thumbnail {
      text-align: center; }

.woocommerce-notices-wrapper {
  display: none; }

.list-categories {
  margin-top: 10px; }
  .list-categories ul li {
    padding: 2px 5px; }
    .list-categories ul li a {
      font-family: Roboto;
      color: #676767;
      font-size: 16px;
      font-weight: bold; }
