@import "mixins";
@import "fonts";
@import "variable";

ul {
  padding: 0;
  margin: 0;
  li {
    list-style: none;
  }
}

img {
  max-width: 100%;
  max-height: 100%;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

.module-title {
  font-family: $iCielSamsungSharpSans-Bold;
  font-size: 48px;
  color: #333333;

}

.sub-module-title {
  font-family: $iCielSamsungSharpSans-Bold;
  font-size: 24px;
  text-align: center;
  color: #676767;
}

.bg-gray {
  background: #e8e8e8;
}

.center {
  text-align: center;
}

.w80 {
  width: 80%;
  margin: auto;
}

.bd-white-right {
  border-right: 1px #ffffff solid;
}

.header {
  height: 90px;
  .head-function {
    float: right;
    li {
      display: inline-block;
      background: #4a73b9;
      a {
        display: block;
        height: 90px;
        width: 90px;
        padding: 25px 35px;
        color: #ffffff;
        font-size: 30px;
      }
    }
  }
}

.menu {
  text-align: right;
  .main-menu {
    li {
      display: inline-block;
      position: relative;
      a {
        font-family: $iCielSamsungSharpSans-Bold;
        color: #676767;
        font-size: 18px;
        display: block;
        padding: 5px 20px;
        border: 1px transparent solid;
        &:hover {
          border-color: #CCCCCC;
          background: #f7f7f7;
        }
      }
      ul.sub-menu {
        display: none;
        position: absolute;
        border: 1px #CCCCCC solid;
        width: 250px;
        background: #ffffff;
        top: 35px;
        z-index: 999999;
        li {
          display: block;
          text-align: left;
          a {
            display: block;
            font-family: Roboto;
            font-size: 16px;
            padding: 10px 0 10px 20px;
            border-color: transparent;
            background: transparent;
            &:hover {
              color: #4a73b9;

            }
          }
        }
      }
      &:hover {
        ul.sub-menu {
          display: block;
        }
      }
    }
  }
}

.hero-slider {
  .slider-1 {
    background: url("../images/slider.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 700px;
    position: relative;
    .slider-1-text {
      position: absolute;
      left: 20%;

    }
    .slider-1-image {
      position: absolute;
      right: 20%;
      top: 10%;
    }
  }
}

.block {
  .block-detail {
    padding: 50px;

    .module-desc {
      font-family: $iCielSamsungSharpSans-Bold;
      font-size: 16px;
      color: #676767;
      line-height: 30px;
      p {
        margin-bottom: 30px;
        text-align: justify;
      }
    }

  }

}

.block-more {
  font-size: 24px;
  font-family: $iCielSamsungSharpSans-Bold;
  border: 2px #4a73b9 solid;
  padding: 10px 20px;
  border-radius: 30px;
  color: #4a73b9;

  &.white {
    color: #ffffff;
    border: 2px #ffffff solid;
  }
}

.nav-tabs > li > a {
  border: 0;

}

h1.news-title {
  font-size: 16px;
  font-family: $iCielSamsungSharpSans-Bold;
  color: #676767;
}

.pd-bot-zero {
  padding-bottom: 0 !important;
}

.family-solution {
  margin-top: 50px;
  border-bottom: 1px #CCCCCC solid;
  li {
    width: 250px;
    margin-right: 50px;
    border: 1px #CCCCCC solid;
    background: #f6f6f6;
    padding: 10px 0;
    float: left;
    border-bottom: 5px transparent solid;
    padding: 15px;
    &:hover {
      border-bottom-color: #4a73b9;
    }
    &.active {
      border-bottom-color: #4a73b9;
      a {
        background: #f6f6f6;
        border: 0;
        color: #4a73b9;
        text-decoration: none;

        &:hover {
          border: 0;
          background: transparent;
          border-color: transparent;
          color: #4a73b9;
          text-decoration: none;
        }
      }
    }
    a {
      font-size: 16px;
      font-family: $iCielSamsungSharpSans-Bold;
      background: #f6f6f6;
      border-color: transparent;
      color: #939393;
      display: block;
      img {
        float: left;
        margin-right: 10px;
        height: 75px;
      }
      &:hover {
        background: transparent;
        border-color: transparent;
        color: #4a73b9;
      }
    }
  }
}

.f-slider-1 {
  background: url("../images/black-gradian-bg.png") left bottom no-repeat, url("../images/image-2.png") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
}

.f-slider-content {
  position: absolute;
  border-top: 0;
  left: 0;
  right: 0;

  bottom: 5%;
  span {
    color: #ffffff;
    font-size: 18px;
    font-family: $iCielSamsungSharpSans-Bold;
    text-transform: uppercase;
    margin: auto;
  }
  p {
    color: #ffffff;
    font-size: 18px;
    font-family: $iCielSamsungSharpSans-Bold;
  }
}

.list-products {
  .product-item {
    margin-bottom: 20px;
    text-align: center;
    .thumb {
      background: #f9f9f9;
      text-align: center;
      padding: 20px 0;
      img {
        max-height: 200px;
      }
    }
    .title {
      padding: 10px 0;
      text-align: center;
      height: 95px;
      a {
        font-size: 18px;
        font-family: $iCielSamsungSharpSans-Bold;
        color: #1c2155;
        span {
          text-transform: uppercase;
        }
      }
    }
    .desc {
      padding: 0 20px;
      text-align: center;
      color: #676767;
    }
    h2.woocommerce-loop-product__title {
      padding: 10px 0;
      text-align: center;
      font-size: 18px;
      font-family: $iCielSamsungSharpSans-Bold;
      color: #1c2155;
      text-transform: uppercase;
      line-height: 1.4;
    }
  }
}

.list-projects {
  .project-item {

    .title {
      padding: 10px 0;
      height: 70px;
      overflow: hidden;
      a {
        font-size: 18px;
        font-family: $iCielSamsungSharpSans-Bold;
        color: #1c2155;
      }
    }
    .thumb {
      a {
        img {
          width: 100%;
          max-height: 275px;
        }
      }
    }
  }
}

.list-news {
  .news-item {
    margin-bottom: 20px;
    .thumb {
      a {
        img {
          width: 350px;
          height: 200px;
        }
      }
    }
    .title {
      padding: 10px 0;

      a {
        font-size: 18px;
        font-family: $iCielSamsungSharpSans-Bold;
        color: #676767;
        &:hover {
          color: #4a73b9;
        }
      }
    }
    .desc {
      text-align: justify;
    }

  }
}

.footer {
  .footer-top {
    background: #4a73b9;
    padding: 50px 0;
    .f-sub-title {
      font-size: 24px;
      font-family: $iCielSamsungSharpSans-Bold;
      color: #fff;
      text-align: center;
    }
    .f-title {
      font-size: 48px;
      font-family: $iCielSamsungSharpSans-Bold;
      color: #fff;
      text-align: center;
    }
    .f-services {
      margin: 20px 0;
      text-align: center;
      img {
        margin-bottom: 20px;
      }
      .f-s {
        font-size: 18px;
        font-family: $iCielSamsungSharpSans-Bold;
        color: #fff;
      }
    }
  }
  .footer-bot {
    background: #202a58;
    padding: 20px 0;
    .f-menu {
      li {
        font-size: 20px;
        font-family: $iCielSamsungSharpSans-Bold;
        color: #fff;
        &:first-child {
          margin-bottom: 10px;
        }
        a {
          font-family: Roboto;
          font-size: 16px;
          color: #fff;
        }
      }
    }

  }
  .f-social {
    i {
      font-size: 48px;
      color: #ffffff;
      margin-right: 10px;
    }
  }
}

.right {
  text-align: right;
}

.banner-page-list {
  height: 500px;
  overflow: hidden;
  position: relative;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  display: block;
  .title-page {
    position: absolute;
    float: left;
    width: 100%;
    height: 100%;
    max-height: 425px;
    left: 0;
    z-index: 99;
  }
  h4 {
    position: absolute;
    bottom: 50px;
    left: 0;
    font-family: Roboto, serif;
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
    width: 100%;
    text-align: center;
    span {
      letter-spacing: 1px;
      display: inline-block;
      padding: 18px 85px;
      border: 2px solid rgba(255, 255, 255, 0.72);
      background: rgba(255, 255, 255, 0.18);
      &:last-child {

        display: inline-block;
      }
    }
  }
}

.onycom-page-header {
  background: url("../images/slider.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 700px;
  position: relative;
  padding: 50px 0;
  .text {
    position: absolute;
    left: 20%;
    top: 150px;
    h1 {
      font-size: 40px;
      font-family: $iCielSamsungSharpSans-Bold;
      color: #ffffff;
      margin-bottom: 20px;
    }
    .page-desc {
      font-size: 18px;
      font-family: $iCielSamsungSharpSans-Bold;
      color: #ffffff;
      line-height: 2;
    }
  }
  .img {

  }
}

.list-gp-doanhnghiep {
  margin-bottom: 50px;
  .item {
    .thumb {
      a {
        img {
          width: 100%;
        }
      }
    }
    .title {
      background: #4a73b9;
      padding: 5px;
      text-align: center;
      a {
        font-family: $iCielSamsungSharpSans-Bold;
        color: #ffffff;
        font-size: 16px;
      }
    }
  }
}

.smarthome-page {
  background: #f7f7f7;
}

.woocommerce-breadcrumb {
  background: #EEEEEE;
  padding: 20px 0;
  a {
    font-family: Roboto;
    color: #676767;
  }
}

.product-info {
  padding: 50px 0;
  #imageGallery {
    li {
      text-align: center;
    }
  }
  .lSGallery {
    margin-top: 20px !important;

  }
  h1 {
    font-family: $iCielSamsungSharpSans-Bold;
    color: #676767;
    font-size: 24px;
  }
  .thongso {
    padding-left: 20px;
    li {
      padding: 5px 3px;
      color: #676767;
      list-style: circle;
      font-size: 16px;
      font-family: Roboto;
    }
  }
  .price {
    font-family: Roboto;
    color: red;
    font-weight: bold;
    font-size: 30px;
    padding: 10px 0;
  }
  .regular-price {
    text-decoration: line-through;
  }

  .badge {
    background: red;
    color: #ffffff;

  }

}

.product-content-list {
  .product-nav {
    background: #4a73b9;
    .nav-tabs {
      border-bottom: 0;
    }

    .nav-tabs > li > a {
      color: #ffffff;
      font-family: $iCielSamsungSharpSans-Bold;
      font-size: 18px;
      padding: 20px;
      border-bottom: 3px transparent solid;
    }
    .nav-tabs > li.active > a {
      background: transparent;
      color: #ffffff;
      border-color: transparent;
      border-bottom-color: #000000;
    }
    .nav > li > a:focus, .nav > li > a:hover {
      background: transparent;
      border-bottom-color: #000000;
    }
  }
}

.news-others {
  h3 {
    font-family: $iCielSamsungSharpSans-Bold;
    font-size: 24px;
  }
}

.news-list-other {
  .news-item {
    .thumb {
      float: left;
      margin-right: 20px;
    }
    .info {
      .title {
        a {
          font-family: $iCielSamsungSharpSans-Bold;
          font-size: 18px;
          color: #676767;
        }
        margin-bottom: 5px;
      }
      .desc {
        color: #676767;
      }
    }
  }
}

.slidervideo {
  .video-item {
    .video-item-inner {
      position: relative;
      .overlay {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background: rgba(0, 0, 0, .3);
        padding: 130px 280px;
        a {
          outline: none;
        }
      }
    }
  }

  .slick-arrow {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 34px;
    height: 64px;
    margin: auto;
  }
  .slick-next {
    right: 20px;
    z-index: 2;
    border: 0;
    font-size: 0;
    padding: 10px;
    background: url(../images/next.png) center no-repeat;
    background-size: 18px 38px;
    outline: none;
    &.slick-disabled {

    }
    &:before {

    }
  }
  .slick-prev {
    left: 20px;
    z-index: 2;
    border: 0;
    font-size: 0;
    padding: 10px;
    background: url(../images/prev.png) center no-repeat;
    background-size: 18px 38px;
    outline: none;
    &.slick-disabled {
      opacity: .1;
    }
  }
}

.breadcrumb {
  background-color: transparent;
  padding: 20px 0 0;
  ul {
    li {
      display: inline-block;
      i {
        margin: 0 10px;
        color: #676767;
        font-size: 14px;
      }
      a {
        font-family: Roboto;
        color: #676767;
        font-size: 14px;
        text-transform: uppercase;
      }
    }
  }
}

.kks-block {
  height: 400px;
  .kks-block-content {
    padding: 90px 0;
    h2 {
      font-family: $iCielSamsungSharpSans-Bold;
      font-size: 24px;
      color: #333333;
      margin-bottom: 20px;
    }
    .desc {
      font-family: Arial;
    }
  }
}

.home-slide-duan {
  padding-bottom: 50px;
}

.kss-project-item {
  .thumb {
    a {
      img {

      }
    }
  }

  .title {
    a {
      font-family: $iCielSamsungSharpSans-Bold;
      font-size: 24px;
      color: #4a73b9;
    }
  }
  .desc {
    color: #676767;
  }
}

.list-customer-feedback {
  .fb-item {
    border: 5px #4a73b9 solid;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    .icon {
      i {
        font-size: 40px;
        color: #4a73b9;
      }
    }
    .user-info {
      margin-top: 20px;
      .info {
        float: left;
        width: 70%;
        padding-right: 10px;
        .name {
          text-align: right;
          font-weight: bold;
        }
        .sub {
          color: #676767;
        }
      }
      .avatar {
        float: right;
        width: 30%;
        img {
          width: 80px;
          height: 80px;
          border-radius: 50%;
        }
      }
    }
  }
  .slick-center {
    .fb-item {
      margin: 0;
      padding: 50px 20px;

    }
  }
  .slick-arrow {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 34px;
    height: 64px;
    margin: auto;
  }
  .slick-next {
    right: 0;
    z-index: 2;
    border: 0;
    font-size: 0;
    padding: 10px;
    background: url(../images/next.png) center no-repeat;
    background-size: 18px 38px;
    outline: none;
    &.slick-disabled {

    }
    &:before {

    }
  }
  .slick-prev {
    left: 0;
    z-index: 2;
    border: 0;
    font-size: 0;
    padding: 10px;
    background: url(../images/prev.png) center no-repeat;
    background-size: 18px 38px;
    outline: none;
    &.slick-disabled {
      opacity: .1;
    }
  }
}

#sliderPartner {
  li {
    width: 200px;
  }
}

.archive-body {
  margin-top: 20px;
  .leftside {
    .title {
      font-family: Roboto;
      text-transform: uppercase;
      font-size: 16px;
      font-weight: bold;
    }
  }
}

.archive-product-list {
  .orderby, .woocommerce-result-count {
    display: none;
  }
  .product-item {
    .thumb {
      border: 1px #ccc solid;
      text-align: center;
      padding: 20px;
      a {
        img {
          max-height: 200px;
        }
      }
    }
    .title {
      a {
        padding: 10px 0;
        font-family: Roboto;
        display: block;
        font-size: 16px;
        color: #676767;
      }
    }
    .price {
      color: #ff0000;
      font-size: 16px;
      font-family: $iCielSamsungSharpSans-Bold;
    }
    .block-more {
      font-size: 14px;
    }
  }
  .filter {
    text-align: right;
    margin: 20px 0;
    ul {
      li {
        display: inline-block;
        a {
          display: block;
          padding: 5px 10px;
          font-family: Arial;
          text-transform: uppercase;
          color: #676767;
          &.active {
            border: 1px #CCCCCC solid;
            background: #f6f6f6;
          }
        }
      }
    }
  }
}

.woocommerce-cart-form__contents {
  width: 100%;
  tr {
    th {
      border-bottom: 1px #EEEEEE solid;
      padding: 0 20px 20px;
    }
    td {
      padding: 5px;
      img {
        height: 100px;
        width: auto;
      }
      &.actions {
        padding-top: 50px;
      }
      .screen-reader-text {
        display: none;
      }
      .qty {
        text-align: center;
        width: 80px;
        border: 1px #EEEEEE solid;
        border-radius: 5px;
        padding: 5px;
      }
      .woocommerce-Price-currencySymbol {
        display: none;
      }
      &.product-name {
        a {
          font-weight: bold;
          color: #4a73b9;
        }
      }
      &.product-thumbnail {
        text-align: center;
      }
    }
  }
}

.woocommerce-notices-wrapper {
  display: none;
}
.list-categories{
  margin-top: 10px;
  ul{
    li{
      padding: 2px 5px;
      a{
        font-family: Roboto;
        color: #676767;
        font-size: 16px;
        font-weight: bold;
      }
    }
  }
}